$main-blue: #0300ff;

.services {
  .container {
    padding: 0 150px;
    @media (max-width: 1400px) {
      flex-direction: column;
      padding: 0 15px;
    }
  }
  .service {
    @media (max-width: 1200px) {
      .img-line {
        min-width: 350px;
        max-width: 350px;
      }
    }
    .line1 {
      position: absolute;
      width: 60%;
      height: 1px;
      bottom: 56px;
      border: 1px dashed $main-blue;
      z-index: 20;
      left: 50%;
      transform: translateX(-50%);
    }
    .line2 {
      content: "";
      position: absolute;
      border: 1px dashed $main-blue;
      height: 50px;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      -webkit-transform: translateX(-50%);
    }
    .line3 {
      content: "";
      position: absolute;
      border: 1px dashed $main-blue;
      height: 50px;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      -webkit-transform: translateX(-50%);
    }
    @media (max-width: 1525px) {
      .line1 {
        width: 50%;
      }
    }
    @media (max-width: 1400px) {
      .line1 {
        width: 60%;
      }
    }
    @media (max-width: 1200px) {
      .line1 {
        width: 64%;
      }
    }
    @media (max-width: 1024px) {
      .line1 {
        display: none;
      }
      .line2 {
        display: none;
      }
      .line3 {
        display: none;
      }
    }
    .service.info {
    }
    &.service-1 {
      .line3 {
        border: 0 dashed red;
        height: 0;
      }
    }
    &.service-2 {
      flex-direction: row-reverse;
      @media (max-width: 1023px) {
        flex-direction: column;
      }
    }
    &.service-3 {
      padding-bottom: 0;
      .line1 {
        position: absolute;
        width: 0;
        height: 0;
        bottom: 56px;
        border-bottom: 0 dashed red;
        z-index: 20;
      }
      .line2 {
        border: 0px dashed $main-blue;
        height: 0;
      }
    }
  }
}
